/* https://dz-security.live/discord/ */

@font-face {
    font-family: ys;
    src: url(https://cdn.discordapp.com/attachments/822897469272621087/842152641554939944/ploni-bold-aaa.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ys;
}

.scoreboard-container {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
    width: 50vh;
    border-radius: 1.5vh;
    background-image: linear-gradient(to right top, rgb(46, 46, 46), rgb(16, 12, 7));
    -webkit-box-shadow: 0vh 0vh 1.5vh 0.5vh rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0vh 0vh 1.5vh 0.5vh rgba(0, 0, 0, 0.75);
    box-shadow: 0vh 0vh 1.5vh 0.5vh rgba(0, 0, 0, 0.75);
    border: none;
}
.scoreboard-container-header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17%;
}

body::-webkit-scrollbar { display: none;  }
html, body { -ms-overflow-style: none; overflow: auto; }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.banner-image {
    height: auto;
}
.main-page-header {
    margin-top: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.staff-counter-container,
.player-counter-container {
    margin: 1vh;
    border-radius: 1.5vh;
    width: 40%;
    background-color: #3a3a3a;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    font-size: 0.95vw;
    color: #d4d3d3;
    -webkit-box-shadow: 0px 5vh 5vh 0px rgba(53, 53, 53, 0.75);
    -moz-box-shadow: 0px 5vh 5vh 0px rgba(53, 53, 53, 0.75);
    box-shadow: 0px 5px 5vh 0px rgba(53, 53, 53, 0.75);
    
}
.player-list-container {
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 5.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 26vh;
}
.player-card {
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #d4d3d3;
    font-size: 0.8vw;
    padding: 0.5vh;
    transition: 0.3s;
    margin: 1vh;
    background-color: #414242;
}

.my-card {
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: #d4d3d3;
    font-size: 0.8vw;
    padding: 0.5vh;
    transition: 0.3s;
    margin: 1vh;
    background-color: #414242;
}

.player-image {
    border-radius: 1.5vh;
    width: 10%;
    height: auto;
}

::-webkit-scrollbar {
    width: 0.7vh;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 15vh;
    background: #0083ca;
}